.hero {
  padding-block: 48px;
}

@media (min-width: 640px) {
  .hero {
    padding-block:100px;
  }
}

.title {
  text-wrap: balance;
}

.subtitle {
  text-wrap: pretty;
}

.icon-tada {
  display: flex;
  transition: all 0.15s ease 0s;
}

.shortener:hover .icon-tada {
  animation: tada-keyframes 3s ease infinite;
  animation-fill-mode: both;
}

@keyframes tada-keyframes {
  0% {
    transform: scaleX(1);
  }
  10%,
  5% {
    transform: scale3d(0.9, 0.9, 0.9) rotate(-5deg);
  }
  15%,
  25%,
  35%,
  45% {
    transform: scale3d(1.1, 1.1, 1.1) rotate(5deg);
  }
  20%,
  30%,
  40% {
    transform: scale3d(1.1, 1.1, 1.1) rotate(-5deg);
  }
  50% {
    transform: scaleX(1);
  }
}