.footer {
  display: flex;
  align-items: center;
  border-top: 1px solid #e0e0e0;

  position: static;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  
  width: 100%;
}

.footer-content {
  width: 100%;
}